    span{
        background-color: aqua;
    }
    h1 {
        
        color: red;
        background-color: #ffff00;
    }
    #titulouno{
        background-color: blueviolet;
        color: white;
        text-align: center;
    }