    span{
        background-color: aqua;
    }
    h1 {
        
        color: red;
        background-color: #ffff00;
    }
    #titulouno{
        background-color: blueviolet;
        color: white;
        text-align: center;
    }
    .claseParrafo{
        font-family: Arial, Helvetica, sans-serif;
    }
    h2, h3,h4{
        background-color: aquamarine;
        color: tomato;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .claseDiv {
        background-color: black;
        color: white;

    }
    .claseDiv p{
        background-color: aqua;
    }