*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 25px, 80px;
}
.item{
    width: 100%;
    border: 2px solid rgb(138, 129, 129);
    border-radius: 15px;
    padding: 15px;

}
img{
width: 100%;
transition: 0.3s;
}
img:hover{
    transform: scale(1.1);  
}
h1{
    border-left: 10px solid blue;
    padding-left: 15px;
    margin-left: 20px;
    margin-bottom: 20px;
}
h2{
    text-shadow: 2px 2px 2px rgb(179, 165, 165);
}

h1, h2, .menulogo, footer {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}
p{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2:hover{
    color: blue;
    cursor: pointer;
}
nav{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
}
li{
    display: inline;
    padding-left: 20px;
}
li:hover{
    background-color: rgb(175, 175, 169);
    padding: 10px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
    
}
a:hover{
    color: black;
}
footer{
    background-color: blue;
    color: white;
    font-size: 9rem;
}